@import "tailwindcss";

@theme {
  --font-sans: "Bricolage Grotesque", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* dark:bg-gray-950 */
html,
body {
  @apply bg-white;

  @media (prefers-color-scheme: dark) {
    color-scheme: light;
  }
}

button{
  @apply cursor-pointer
}

.random{
  color: #0000003e
}
.stack:hover{
  cursor: pointer;
  /* color: #27262641 */
  /* color: #f4af30c7 */
  /* color: #822b8d80 */
}
.credentials-div{
  @apply lg:p-[4rem] md:p-[2rem] p-[2rem]
}
.credentials-div label{
  @apply text-sm
}

.no-scrollbar{
  scrollbar-width: none;
}

.credentials-div input[type='text'], .credentials-div input[type='date'], .credentials-div input[type='password']{
  @apply w-[100%] h-[40px] block border-1 rounded-[5px] border-[#272626] p-[0.5rem]
}

.credentials-div select{
  @apply h-[35px] block opacity-[60%]
}


.transform-3d{
  transform-style: preserve-3d;
}

.register-panel{
  @apply overflow-y-auto
}
.front, .back{
  @apply p-[1.5rem] flex justify-center items-center p-[2rem] text-center 
}

.card{
  @apply p-[1.5rem] h-full w-full flex justify-center items-center p-[2rem] text-center backface-hidden cursor-pointer absolute min-w-full min-h-full bg-[#f4f4f4] border-[1rem]  border-[#822b8d80] rounded-[10px] text-lg font-medium
}

.my-shadow{
  box-shadow: 4px 4px #272626;
}


/* QUIZ NAVBUTTONS */

.quiz-nav-btn{
  @apply 
                            h-[50px] rounded-[25px] w-[70px]
                           hover:text-white
                            font-bold p-[0.3rem] text-xl
}
/* =======================ANIMATION CLASSES======================== */

.slide-out-right{
  animation: slideOutRight 0.4s ease-in-out;
}

@keyframes slideOutRight{
  to{
    transform: translateX(100%);
    opacity: 0;
  }
}
